.container {
  font-family: "Josefin Sans", sans-serif;
   max-width: 538px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  border: 1px solid black;
  background: linear-gradient( #77ACF1,#AACFCF,#CDD0CB, #F4EEFF );
  border-radius: 6px;
}

#search-button #current-location-button {
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  border-radius: 6px;
}

#now-date {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

.main {
  text-align: center;
  font-size: 70px;
}

#big-icon {
  width: 130px;
  padding: 0;
  margin: -32px;
  position: relative;
  top: -8px;
}

.units {
  position: relative;
  top: -35px;
  left: -15px;
  font-size: 12px;
  margin: 0;
}

.fahrenheit-link .celsius-link {
  text-decoration: none;
}

.weather-conditions {
  text-align: center;
  font-size: 15px;
  margin: 10px;
}

.units .active {
  color: black;
  cursor: default;
}

a {
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

#search-form {
  margin-top: 50px;
  text-align: center;
}

#hourly-forecast {
  margin-bottom: 10px;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
}

.weather-forecast-temperature-min {
  color:#5f5f5f;
}




